*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bungee Spice", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body{
    background-color: #191825;
    height: 100vh;
    display: grid;
    place-items: center;
}

h1{
    font-size: 48px;
    text-shadow: -3px 10px 10px rgba(249, 141, 141, 0.2);
    color: #865dff;
    text-transform: uppercase;
    text-align: center;
    animation: textFloat 2s linear infinite alternate;
}

@keyframes textFloat{
    0%{
        rotate: 15deg;
    }
    50%{
        rotate: 0deg;
    }
    100%{
        rotate: -15deg;
    }
}