/*  #ff3368; #ecfdff; */

h1{
    color: #ff3368;
}

.btn{
    color: blue;
    font-weight: bold;
}

.btn:hover{
    color: aqua;
    font-weight: bolder;
}

#btn{
    background-color: #ff3368;
    color: #fff;
}

#btn:hover{
    background-color: white;
    color: black;
    text-decoration: none;
}