*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.parent-div {
    position: relative;
    width: 100%;
    height: 100vh;
}

.child-div{
    position: absolute;
    /* width: 40px;
    height: 40px; */
    background-color: brown;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    padding: 10px;
    border: 1px solid currentColor;   
}

