*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #191825;
}

.base-cradle{
    position: relative;
    width: 400px;
    height: 400px;
    border: 1rem solid #865dff;
    border-radius: 0.5rem;
}

.kaanta{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: left center;

    height: 1rem;
    width: 50%;
    background: aliceblue;
    border-radius: 1rem;

    animation: ghoomo 5s linear infinite;
}

/* SECOND KAANTA  opposite direction */
.shaft2{
    animation-direction: reverse;
    animation-duration: 5s; 
}

@keyframes ghoomo {
    0%{
        rotate: 0deg;
    }
    100%{
        rotate: 360deg;
    }
}
