*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

.parent-div{
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.child-div{
    background-color: brown;
    padding: 10px;
    border: 1px solid currentColor;
}