*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html,body{
    width: 100%;
    height: 100%;
}

header{
    height: 3.5rem;
    width: 100%;
    background-color: #ebe8e8;
}

header .container{
    height: 100%;
    width: 100%;
    max-width: 60rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    padding: 0 1rem;
}

header .container .logo{
    font-size: 30px;
    color: rgba(0, 0, 0, 0.705);
    font-weight: 600;
    font-family: cursive;
}
header .menu{
    display: flex;
    gap: 2rem;
}

header .menu a{
    text-decoration: none;
    color: rgba(0,0,0,0.703);
}
header .menu-icon{
    display: none;
}
.landing-page{
    max-width: 60rem;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 1rem 1rem;
    gap: 1.5rem;
}

.landing-page .text{
    width: 50%;    
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    justify-content: center;
    gap:1.5rem;
}

.landing-page .text h1{
    color: rgba(0, 0, 0, 0.889);
}

.landing-page .text p{
    color: rgba(0, 0, 0, 0.689);
}

.landing-page .image{
    width: 50%;
    padding: 2rem;
}

.landing-page .image img{
    width: 100%;
    border-radius: 10px;
}

.landing-page .text .blueBtn{
    padding: 0.6rem 2rem;
    background-color: rgb(7, 89, 255);
    border-radius: 50px;
    border: none;
    outline: none;
    color: #fff;
}

.landing-page .text .whiteBtn{
    padding: 0.6rem 2rem;
    background-color: rgb(194, 197, 203);
    border-radius: 50px;
    border: none;
    outline: none;
    color: #000000ca;
}

@media (max-width:700px) {
    .landing-page{
        flex-direction: column;
    }

    .landing-page .text{
        width: 100%;
        align-items: center;
    }
    .landing-page .text .buttons{
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: center;
    }
    .landing-page .image{
        width: 100%;
    }
    header .menu-icon{
        display: block;
    }
    header .menu{
        display: none;
    }
}